* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.container {
  text-align: center;
  height: 100vh;
}

button {
  padding: 0.6rem;
  border-radius: 3px;
}

input {
  background-color: rgb(187, 187, 187);
  padding: 0.3rem;
  margin-right: 0.5rem;
  border: 2px solid gray;
  border-radius: 2px;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lista {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.lista .card {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 45%;
}

/* Reuso dessa parte */
@media (prefers-reduced-motion: no-preference) {
  .App-logo { animation: App-logo-spin infinite 20s linear; }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link { color: #61dafb; }

@keyframes spinner
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
